.elementor-2684
  .elementor-element.elementor-element-629272a
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-2684
  .elementor-element.elementor-element-629272a
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .witr_sw_text_area {
  width: 0%;
}
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .witr_swiper_height {
  height: 800px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .witr_swiper_height::before {
  background-color: #00000061;
}
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .witr_swiper_area
  .swiper-pagination-progressbar
  .swiper-pagination-progressbar-fill,
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .witr_swiper_area
  .swiper-container-horizontal
  > .swiper-pagination-progressbar {
  height: 0px;
}
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .wirt_ani_slick_image {
  display: default;
}
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .witr_swiper_content
  h1 {
  color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .witr_swiper_content
  h2 {
  color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .witr_swiper_content
  h3 {
  color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .witr_swiper_content
  p {
  color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .witr_swiper_content
  .witr_btn {
  font-size: 20px;
  border-style: default;
  padding: 15px 40px 15px 40px;
}
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .witr_swiper_content
  .witr_btn.active {
  background-color: #ffffff;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-ec0405f
  .witr_swiper_content
  .witr_btn.active:hover {
  background-color: #0e5fb2;
}
.elementor-2684 .elementor-element.elementor-element-67da39f {
  margin-top: 62px;
  margin-bottom: 62px;
  padding: 0px 0px 100px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-0040263
  .single_image::before {
  opacity: 0.5;
}
.elementor-2684 .elementor-element.elementor-element-0040263 .single_image img {
  transform: rotate(0deg);
}
.elementor-2684 .elementor-element.elementor-element-0040263 .single_image {
  margin: 150px 0px 0px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-f282b5b
  .witr_back_title
  h4 {
  opacity: 1;
}
.elementor-2684
  .elementor-element.elementor-element-f282b5b
  .witr_section_title_inner
  h1
  span,
.elementor-2684
  .elementor-element.elementor-element-f282b5b
  .witr_section_title_inner
  h2
  span,
.elementor-2684
  .elementor-element.elementor-element-f282b5b
  .witr_section_title_inner
  h3
  span,
.elementor-2684
  .elementor-element.elementor-element-f282b5b
  .witr_section_title_inner
  p
  span,
.elementor-2684
  .elementor-element.elementor-element-f282b5b
  .witr_section_title_inner
  p
  span
  a {
  color: #000000;
}
.elementor-2684 .elementor-element.elementor-element-f282b5b .witr_bar_inner {
  background-color: #676453;
}
.elementor-2684 .elementor-element.elementor-element-f282b5b .witr_bar_main {
  margin: 20px 0px 30px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-f282b5b
  .witr_section_title_inner
  p {
  width: 98%;
}
.elementor-2684
  .elementor-element.elementor-element-f282b5b
  > .elementor-widget-container {
  margin: -8px 0px 0px 0px;
}
.elementor-2684 .elementor-element.elementor-element-4bc0f65 .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-4bc0f65
  .service_top_image::after {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
  background-color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-4bc0f65
  .all_color_service {
  padding: 5px 0px 5px 15px;
}
.elementor-2684 .elementor-element.elementor-element-4bc0f65 .all_icon_color i {
  color: #ffffff;
  font-size: 35px;
}
.elementor-2684
  .elementor-element.elementor-element-4bc0f65
  .all_color_service
  h3,
.elementor-2684
  .elementor-element.elementor-element-4bc0f65
  .all_color_service
  h3
  a {
  color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-4bc0f65
  .all_color_service
  h3 {
  margin: 5px 0px 0px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-4bc0f65
  .all_color_service
  p {
  color: #ffffff;
}
.elementor-2684 .elementor-element.elementor-element-4bc0f65 {
  width: 100%;
  max-width: 100%;
}
.elementor-2684 .elementor-element.elementor-element-5f49c8a .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-5f49c8a
  .service_top_image::after {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
}
.elementor-2684
  .elementor-element.elementor-element-5f49c8a
  .all_color_service {
  padding: 5px 0px 5px 15px;
}
.elementor-2684 .elementor-element.elementor-element-5f49c8a .all_icon_color i {
  color: #676453;
  font-size: 35px;
}
.elementor-2684
  .elementor-element.elementor-element-5f49c8a
  .all_color_service
  h3:hover,
.elementor-2684
  .elementor-element.elementor-element-5f49c8a
  .all_color_service
  h3
  a:hover {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-5f49c8a
  .all_color_service
  h3 {
  margin: 5px 0px 0px 0px;
}
.elementor-2684 .elementor-element.elementor-element-ea04e13 .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-ea04e13
  .service_top_image::after {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
}
.elementor-2684
  .elementor-element.elementor-element-ea04e13
  .all_color_service {
  padding: 5px 0px 5px 15px;
}
.elementor-2684 .elementor-element.elementor-element-ea04e13 .all_icon_color i {
  color: #676453;
  font-size: 35px;
}
.elementor-2684
  .elementor-element.elementor-element-ea04e13
  .all_color_service
  h3:hover,
.elementor-2684
  .elementor-element.elementor-element-ea04e13
  .all_color_service
  h3
  a:hover {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-ea04e13
  .all_color_service
  h3 {
  margin: 5px 0px 0px 0px;
}
.elementor-2684 .elementor-element.elementor-element-66e4c94 .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-66e4c94
  .service_top_image::after {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.13);
  background-color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-66e4c94
  .all_color_service {
  padding: 5px 0px 5px 15px;
}
.elementor-2684 .elementor-element.elementor-element-66e4c94 .all_icon_color i {
  color: #ffffff;
  font-size: 35px;
}
.elementor-2684
  .elementor-element.elementor-element-66e4c94
  .all_color_service
  h3,
.elementor-2684
  .elementor-element.elementor-element-66e4c94
  .all_color_service
  h3
  a {
  color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-66e4c94
  .all_color_service
  h3 {
  margin: 5px 0px 0px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-66e4c94
  .all_color_service
  p {
  color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-7bf0ca5:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-2684
  .elementor-element.elementor-element-7bf0ca5
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("http://localhost:8085/wordpress-wrok-2/wp-content/uploads/2021/05/home-page-09.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2684
  .elementor-element.elementor-element-7bf0ca5
  > .elementor-background-overlay {
  background-color: #676453;
  opacity: 0.9;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2684 .elementor-element.elementor-element-7bf0ca5 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 95px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-ceb625f
  > .elementor-element-populated {
  margin: 0px 30px 0px 0px;
  --e-column-margin-right: 30px;
  --e-column-margin-left: 0px;
}
.elementor-2684
  .elementor-element.elementor-element-e3a654a
  .witr_section_title_inner
  h2 {
  color: #ffffff;
  padding: 0px 0px 0px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-e3a654a
  .witr_section_title_inner
  h3 {
  color: #ffffff;
  padding: 10px 0px 5px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-e3a654a
  .witr_section_title_inner
  h1 {
  color: #929292;
  font-size: 26px;
  font-weight: 500;
  margin: 0px 0px 20px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-e3a654a
  .witr_back_title
  h4 {
  opacity: 1;
}
.elementor-2684 .elementor-element.elementor-element-e3a654a .witr_bar_inner {
  background-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-e3a654a
  .witr_section_title_inner
  p {
  color: #ffffff;
  width: 100%;
}
.elementor-2684 .elementor-element.elementor-element-14a0ab2 {
  padding: 150px 0px 0px 0px;
}
.elementor-2684 .elementor-element.elementor-element-4e98312 .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-4e98312
  .service_top_image::after {
  background-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-4e98312
  .all_color_service {
  padding: 40px 0px 30px 0px;
}
.elementor-2684 .elementor-element.elementor-element-4e98312 .all_icon_color i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-4e98312
  .all_color_service:hover
  i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-4e98312
  .all_color_service
  h3:hover,
.elementor-2684
  .elementor-element.elementor-element-4e98312
  .all_color_service
  h3
  a:hover {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-4e98312
  .all_color_service
  h3,
.elementor-2684
  .elementor-element.elementor-element-4e98312
  .all_color_service
  h3
  a {
  font-size: 22px;
}
.elementor-2684 .elementor-element.elementor-element-bc99ec7 .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-bc99ec7
  .service_top_image::after {
  background-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-bc99ec7
  .all_color_service {
  padding: 40px 0px 30px 0px;
}
.elementor-2684 .elementor-element.elementor-element-bc99ec7 .all_icon_color i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-bc99ec7
  .all_color_service:hover
  i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-bc99ec7
  .all_color_service
  h3:hover,
.elementor-2684
  .elementor-element.elementor-element-bc99ec7
  .all_color_service
  h3
  a:hover {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-bc99ec7
  .all_color_service
  h3,
.elementor-2684
  .elementor-element.elementor-element-bc99ec7
  .all_color_service
  h3
  a {
  font-size: 22px;
}
.elementor-2684 .elementor-element.elementor-element-a6c6157 .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-a6c6157
  .service_top_image::after {
  background-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-a6c6157
  .all_color_service {
  padding: 40px 0px 30px 0px;
}
.elementor-2684 .elementor-element.elementor-element-a6c6157 .all_icon_color i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-a6c6157
  .all_color_service:hover
  i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-a6c6157
  .all_color_service
  h3:hover,
.elementor-2684
  .elementor-element.elementor-element-a6c6157
  .all_color_service
  h3
  a:hover {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-a6c6157
  .all_color_service
  h3,
.elementor-2684
  .elementor-element.elementor-element-a6c6157
  .all_color_service
  h3
  a {
  font-size: 22px;
}
.elementor-2684 .elementor-element.elementor-element-90e421c .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-90e421c
  .service_top_image::after {
  background-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-90e421c
  .all_color_service {
  padding: 40px 0px 30px 0px;
}
.elementor-2684 .elementor-element.elementor-element-90e421c .all_icon_color i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-90e421c
  .all_color_service:hover
  i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-90e421c
  .all_color_service
  h3:hover,
.elementor-2684
  .elementor-element.elementor-element-90e421c
  .all_color_service
  h3
  a:hover {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-90e421c
  .all_color_service
  h3,
.elementor-2684
  .elementor-element.elementor-element-90e421c
  .all_color_service
  h3
  a {
  font-size: 22px;
}
.elementor-2684 .elementor-element.elementor-element-21a584f .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-21a584f
  .service_top_image::after {
  background-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-21a584f
  .all_color_service {
  padding: 40px 0px 30px 0px;
}
.elementor-2684 .elementor-element.elementor-element-21a584f .all_icon_color i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-21a584f
  .all_color_service:hover
  i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-21a584f
  .all_color_service
  h3:hover,
.elementor-2684
  .elementor-element.elementor-element-21a584f
  .all_color_service
  h3
  a:hover {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-21a584f
  .all_color_service
  h3,
.elementor-2684
  .elementor-element.elementor-element-21a584f
  .all_color_service
  h3
  a {
  font-size: 22px;
}
.elementor-2684 .elementor-element.elementor-element-fb541ec .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-fb541ec
  .service_top_image::after {
  background-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-fb541ec
  .all_color_service {
  padding: 40px 0px 30px 0px;
}
.elementor-2684 .elementor-element.elementor-element-fb541ec .all_icon_color i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-fb541ec
  .all_color_service:hover
  i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-fb541ec
  .all_color_service
  h3:hover,
.elementor-2684
  .elementor-element.elementor-element-fb541ec
  .all_color_service
  h3
  a:hover {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-fb541ec
  .all_color_service
  h3,
.elementor-2684
  .elementor-element.elementor-element-fb541ec
  .all_color_service
  h3
  a {
  font-size: 22px;
}
.elementor-2684 .elementor-element.elementor-element-2d73729 .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-2d73729
  .service_top_image::after {
  background-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-2d73729
  .all_color_service {
  padding: 40px 0px 30px 0px;
}
.elementor-2684 .elementor-element.elementor-element-2d73729 .all_icon_color i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-2d73729
  .all_color_service:hover
  i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-2d73729
  .all_color_service
  h3:hover,
.elementor-2684
  .elementor-element.elementor-element-2d73729
  .all_color_service
  h3
  a:hover {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-2d73729
  .all_color_service
  h3,
.elementor-2684
  .elementor-element.elementor-element-2d73729
  .all_color_service
  h3
  a {
  font-size: 22px;
}
.elementor-2684 .elementor-element.elementor-element-099c054 .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-099c054
  .service_top_image::after {
  background-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-099c054
  .all_color_service {
  padding: 40px 0px 30px 0px;
}
.elementor-2684 .elementor-element.elementor-element-099c054 .all_icon_color i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-099c054
  .all_color_service:hover
  i {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-099c054
  .all_color_service
  h3:hover,
.elementor-2684
  .elementor-element.elementor-element-099c054
  .all_color_service
  h3
  a:hover {
  color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-099c054
  .all_color_service
  h3,
.elementor-2684
  .elementor-element.elementor-element-099c054
  .all_color_service
  h3
  a {
  font-size: 22px;
}
.elementor-2684 .elementor-element.elementor-element-250a47d {
  margin-top: 54px;
  margin-bottom: 54px;
}
.elementor-2684
  .elementor-element.elementor-element-622619a
  .witr_back_title
  h4 {
  opacity: 1;
}
.elementor-2684 .elementor-element.elementor-element-622619a .witr_bar_inner {
  background-color: transparent;
  background-image: linear-gradient(180deg, #676453 0%, #676453 100%);
}
.elementor-2684 .elementor-element.elementor-element-622619a .witr_bar_main {
  margin: 20px 0px 10px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-622619a
  .witr_section_title_inner
  p {
  width: 98%;
}
.elementor-2684
  .elementor-element.elementor-element-622619a
  > .elementor-widget-container {
  margin: -8px 0px 0px 0px;
}
.elementor-2684 .elementor-element.elementor-element-54039fc .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-54039fc
  .service_top_image::after {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
.elementor-2684
  .elementor-element.elementor-element-54039fc
  .all_color_service {
  padding: 30px 50px 30px 30px;
  margin: 0px 0px 0px 0px;
  height: 200px !important;
}
.elementor-2684
  .elementor-element.elementor-element-54039fc
  .all_color_service:hover {
  background-image: url("http://localhost:8085/wordpress-wrok-2/wp-content/uploads/2021/05/features-2.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2684 .elementor-element.elementor-element-54039fc .all_icon_color i {
  transform: rotate(0deg);
}
.elementor-2684
  .elementor-element.elementor-element-54039fc
  .em-service:hover::before,
.elementor-2684
  .elementor-element.elementor-element-54039fc
  .witr_service_front_3d:before {
  background-color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-54039fc
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-54039fc:hover
  .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: #ff5f63;
}
.elementor-2684 .elementor-element.elementor-element-ecaf57d .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-ecaf57d
  .service_top_image::after {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
.elementor-2684
  .elementor-element.elementor-element-ecaf57d
  .all_color_service {
  padding: 30px 50px 30px 30px;
  height: 200px !important;
}
.elementor-2684
  .elementor-element.elementor-element-ecaf57d
  .all_color_service:hover {
  background-image: url("http://localhost:8085/wordpress-wrok-2/wp-content/uploads/2021/05/features-2.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2684 .elementor-element.elementor-element-ecaf57d .all_icon_color i {
  transform: rotate(0deg);
}
.elementor-2684
  .elementor-element.elementor-element-ecaf57d
  .em-service:hover::before,
.elementor-2684
  .elementor-element.elementor-element-ecaf57d
  .witr_service_front_3d:before {
  background-color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-ecaf57d
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-ecaf57d:hover
  .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: #ff5f63;
}
.elementor-2684 .elementor-element.elementor-element-398c52e .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-398c52e
  .service_top_image::after {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
.elementor-2684
  .elementor-element.elementor-element-398c52e
  .all_color_service {
  padding: 30px 50px 30px 30px;
  height: 200px !important;
}
.elementor-2684
  .elementor-element.elementor-element-398c52e
  .all_color_service:hover {
  background-image: url("http://localhost:8085/wordpress-wrok-2/wp-content/uploads/2021/05/features-2.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2684 .elementor-element.elementor-element-398c52e .all_icon_color i {
  transform: rotate(0deg);
}
.elementor-2684
  .elementor-element.elementor-element-398c52e
  .em-service:hover::before,
.elementor-2684
  .elementor-element.elementor-element-398c52e
  .witr_service_front_3d:before {
  background-color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-398c52e
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-398c52e:hover
  .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: #ff5f63;
}
.elementor-2684 .elementor-element.elementor-element-543d0f8 .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-543d0f8
  .service_top_image::after {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
.elementor-2684
  .elementor-element.elementor-element-543d0f8
  .all_color_service {
  padding: 30px 50px 30px 30px;
  height: 200px !important;
}
.elementor-2684
  .elementor-element.elementor-element-543d0f8
  .all_color_service:hover {
  background-image: url("http://localhost:8085/wordpress-wrok-2/wp-content/uploads/2021/05/features-2.jpg");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2684 .elementor-element.elementor-element-543d0f8 .all_icon_color i {
  transform: rotate(0deg);
}
.elementor-2684
  .elementor-element.elementor-element-543d0f8
  .em-service:hover::before,
.elementor-2684
  .elementor-element.elementor-element-543d0f8
  .witr_service_front_3d:before {
  background-color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-543d0f8
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-543d0f8:hover
  .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: #ff5f63;
}
.elementor-2684 .elementor-element.elementor-element-aee8f65 .all_color_service,
.elementor-2684
  .elementor-element.elementor-element-aee8f65
  .service_top_image::after {
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1);
}
.elementor-2684
  .elementor-element.elementor-element-aee8f65
  .all_color_service {
  padding: 30px 50px 30px 30px;
  height: 200px !important;
}
.elementor-2684
  .elementor-element.elementor-element-aee8f65
  .all_color_service:hover {
  background-image: url("http://localhost:8085/wordpress-wrok-2/wp-content/uploads/2021/05/features-2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-2684 .elementor-element.elementor-element-aee8f65 .all_icon_color i {
  transform: rotate(0deg);
}
.elementor-2684
  .elementor-element.elementor-element-aee8f65
  .em-service:hover::before,
.elementor-2684
  .elementor-element.elementor-element-aee8f65
  .witr_service_front_3d:before {
  background-color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-aee8f65
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: #ffffff;
}
.elementor-2684
  .elementor-element.elementor-element-aee8f65:hover
  .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: #ff5f63;
}
.elementor-2684 .elementor-element.elementor-element-e5f9345 {
  margin-top: 54px;
  margin-bottom: 54px;
}
.elementor-2684
  .elementor-element.elementor-element-aadd04f
  .witr_back_title
  h4 {
  opacity: 1;
}
.elementor-2684 .elementor-element.elementor-element-aadd04f .witr_bar_inner {
  background-color: #675361;
}
.elementor-2684 .elementor-element.elementor-element-aadd04f .witr_bar_main {
  margin: 20px 0px 10px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-aadd04f
  .witr_section_title_inner
  p {
  width: 98%;
}
.elementor-2684
  .elementor-element.elementor-element-aadd04f
  > .elementor-widget-container {
  margin: -8px 0px 0px 0px;
}
.elementor-2684 .elementor-element.elementor-element-3f2ad7e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 41px;
  margin-bottom: 41px;
}
.elementor-2684
  .elementor-element.elementor-element-3f2ad7e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-2684 .elementor-element.elementor-element-136b21b iframe {
  height: 455px;
  transition-duration: 0s;
}
.elementor-2684
  .elementor-element.elementor-element-ea8a413:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-2684
  .elementor-element.elementor-element-ea8a413
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #676453;
}
.elementor-2684
  .elementor-element.elementor-element-ea8a413
  > .elementor-element-populated {
  border-style: solid;
  border-color: #676453;
  transition: background 0.3s, border 0.7s, border-radius 0.7s, box-shadow 0.7s;
}
.elementor-2684
  .elementor-element.elementor-element-ea8a413
  > .elementor-element-populated,
.elementor-2684
  .elementor-element.elementor-element-ea8a413
  > .elementor-element-populated
  > .elementor-background-overlay,
.elementor-2684
  .elementor-element.elementor-element-ea8a413
  > .elementor-background-slideshow {
  border-radius: 0px 0px 0px 0px;
}
.elementor-2684
  .elementor-element.elementor-element-ea8a413:hover
  > .elementor-element-populated {
  border-style: solid;
  border-color: #676453;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}
.elementor-2684
  .elementor-element.elementor-element-ea8a413:hover
  > .elementor-element-populated,
.elementor-2684
  .elementor-element.elementor-element-ea8a413:hover
  > .elementor-element-populated
  > .elementor-background-overlay {
  border-radius: 9px 9px 9px 9px;
}
.elementor-2684
  .elementor-element.elementor-element-ea8a413
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.7s, opacity 0.3s;
}
@media (max-width: 1024px) {
  .elementor-bc-flex-widget
    .elementor-2684
    .elementor-element.elementor-element-41c2e72.elementor-column
    .elementor-widget-wrap {
    align-items: space-between;
  }
  .elementor-2684
    .elementor-element.elementor-element-41c2e72.elementor-column.elementor-element[data-element_type="column"]
    > .elementor-widget-wrap.elementor-element-populated {
    align-content: space-between;
    align-items: space-between;
  }
  .elementor-2684
    .elementor-element.elementor-element-ceb625f
    > .elementor-element-populated {
    padding: 50px 15px 0px 15px;
  }
}
@media (max-width: 767px) {
  .elementor-2684 .elementor-element.elementor-element-629272a {
    width: 100%;
  }
  .elementor-2684
    .elementor-element.elementor-element-629272a
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-2684
    .elementor-element.elementor-element-629272a
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px -0px 0px;
  }
  .elementor-2684
    .elementor-element.elementor-element-ec0405f
    .witr_sw_text_area {
    width: 0%;
  }
  .elementor-2684
    .elementor-element.elementor-element-ec0405f
    .witr_swiper_height {
    height: 1047px;
    background-position: center left;
  }
  .elementor-2684
    .elementor-element.elementor-element-ec0405f
    .witr_swiper_content
    h1 {
    font-size: 30px;
    line-height: 2em;
    width: 0%;
  }
  .elementor-2684
    .elementor-element.elementor-element-ec0405f
    .witr_swiper_content
    h2 {
    font-size: 20px;
  }
  .elementor-2684
    .elementor-element.elementor-element-ec0405f
    .witr_swiper_content
    h3 {
    font-size: 20px;
  }
  .elementor-2684
    .elementor-element.elementor-element-ec0405f
    .em_slider_s2_image {
    top: -7px;
    right: -26px;
  }
  .elementor-2684
    .elementor-element.elementor-element-ec0405f
    .em_slider_s2_image
    img {
    max-width: 0%;
    height: 25px;
  }
  .elementor-2684 .elementor-element.elementor-element-ec0405f .tx_svd_icon {
    font-size: 6px;
  }
  .elementor-2684
    .elementor-element.elementor-element-ec0405f
    .text-left
    .slider_vd_icon {
    right: -41px;
  }
  .elementor-2684
    .elementor-element.elementor-element-ec0405f
    .swiper-button-next:after,
  .elementor-2684
    .elementor-element.elementor-element-ec0405f
    .swiper-button-prev:after {
    font-size: 0px;
  }
  .elementor-2684
    .elementor-element.elementor-element-ec0405f
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-2684
    .elementor-element.elementor-element-2cf5f0a
    > .elementor-element-populated {
    padding: 80px 10px 30px 10px;
  }
  .elementor-2684
    .elementor-element.elementor-element-ceb625f
    > .elementor-element-populated {
    padding: 0px 0px 0px 10px;
  }
  .elementor-2684
    .elementor-element.elementor-element-b98a46d
    > .elementor-element-populated,
  .elementor-2684
    .elementor-element.elementor-element-b98a46d
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-2684
    .elementor-element.elementor-element-b98a46d
    > .elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
  }
}
@media (min-width: 768px) {
  .elementor-2684 .elementor-element.elementor-element-7f026e1 {
    width: 48.07%;
  }
  .elementor-2684 .elementor-element.elementor-element-2cf5f0a {
    width: 51.93%;
  }
  .elementor-2684 .elementor-element.elementor-element-ceb625f {
    width: 52.456%;
  }
  .elementor-2684 .elementor-element.elementor-element-1d2f49d {
    width: 47.5%;
  }
}
